* {
    font-family: "Gill Sans", sans-serif;
    font-size: large;
}

html {
    height: 100vh;
}

body {
    background-image: url("background.jpg");
    height: 100vh;
    overflow: hidden;
}

.banner_link {
    text-decoration: none;
    color: black;
}

.black_zone{
    width: 70%;
    position: relative;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    margin-top: 4%;
    height: 90%;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 20px;
}

.banner {
  position: fixed;
  text-decoration: none;
  color: #ffffff;
  background-color: #939393;
  text-align: center;
  margin-top: -4%;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  left: 10%;
  width: 80%;
  border-radius: 100% 100% 75% 75% / 0% 0% 150% 150% ;
  box-shadow: 0px 0px 10px black;
  z-index: 2;
  opacity: 0.2;
}

.banner:hover{
  opacity: 1;
}

.banner_link{
  text-decoration: none;
  color: #ffffff;
  background-color: #939393;
  padding-top: 0.8%;
  padding-bottom: 0.8%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 110%;
  position: relative;
  background-clip: padding-box;
  border-radius: 100%
}

.banner_link:hover{
  background-color: #3f3f3f;
}

h1 {
    text-align: center;
    font-size: 50px;
}